body {
  padding-top: 70px; /* Ajuste selon la hauteur réelle de ta navbar */
}

.btn-glow {
  background-color: #5bc0de; /* Bleu clair Bootstrap */
  border: none;
  color: white;
  box-shadow: 0 0 5px rgba(91, 192, 222, 0.5);
  transition: all 0.3s ease-in-out;
}

.btn-glow:hover {
  background-color: #31b0d5;
  box-shadow: 0 0 15px rgba(91, 192, 222, 0.8);
  transform: scale(1.05);
}


.right{
    margin-right: 0;
}
.nav-item{
    font-size: 15px;
}
.fw-bolder {
    font-weight: bolder !important;
  }
  .btn.btn-lg.btn-light {
    border-radius: 27px !important;
    padding: 15px;
  }
  
  .header-bg {
    background-image: url('../photos/accueil-decoration.png'); /* adapte le chemin */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    position: relative;
  }
  
  .header-bg::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* assombrissement */
    z-index: 1;
  }
  
  .header-bg .container {
    position: relative;
    z-index: 2;
  }

      /*icons*/
  
  body {
    padding-top: 70px; /* Ajuste selon la hauteur réelle de ta navbar */
  }
  
  