.right{
    margin-right: 0;
}
.nav-item{
    font-size: 15px;
}
.fw-bolder {
    font-weight: bolder !important;
  }
  .btn.btn-lg.btn-light {
    border-radius: 27px !important;
    padding: 15px;
  }
  
  .header-bg {
    background-image: url('../photos/accueil-decoration.png'); /* adapte le chemin */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    position: relative;
  }
  
  .header-bg::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* assombrissement */
    z-index: 1;
  }
  
  .header-bg .container {
    position: relative;
    z-index: 2;
  }
  
  

  
